In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("YellowTaxiTrips").getOrCreate()

In [5]:
trips_df = spark.read.option("header", "true").csv("./learning_spark_data/trips/")
trips_df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2021-06-01 00:13:26|  2021-06-01 00:17:14|              1|          .90|         1|                 N|         186|          50|           1|          5|    3|    0.5|       2.2|           0|                  0.3|          11|                 2.5|
|       1| 2021-06-01 00:32:23|  2021-06-01 01:07:04|              1|        23.00|         1|                 N|         132|          18|           2|       61.5| 1.75|    0.5|         0|        6.55|                  0.3|        70.6|                   0|
|       1| 2021-06-01 00:12:15|  2021-06-01 00:15:28|              0|          .90|         1|                 N|         138|          70|           2|          5| 1.75|    0.5|         0|           0|                  0.3|        7.55|                   0|
|       1| 2021-06-01 00:35:00|  2021-06-01 00:53:17|              0|        11.20|         1|                 N|         138|         189|           1|       31.5| 1.75|    0.5|       8.5|           0|                  0.3|       42.55|                   0|
|       2| 2021-06-01 00:31:01|  2021-06-01 00:52:27|              1|         9.49|         1|                 N|         138|         142|           1|       28.5|  0.5|    0.5|      7.77|        6.55|                  0.3|       47.87|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 5 rows

In [4]:
zone_df = spark.read.option("header", "true").csv("./learning_spark_data/taxi+_zone_lookup.csv")
zone_df.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [6]:
spark.stop()